<div id="parts">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none" routerLink="/ailab/dashboard">
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Parts</li>
    </ol>
  </nav>

  <div *ngIf="addPermission" class="bg-white p-3 mb-3 text-end" style="
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 4px;
    ">
    <button type="button" style="font-size: 13px; background-color: #133819; color: white" (click)="openTemplate()"
      class="btn btn-success mx-2 my-0">
      <b>Download Template</b>
    </button>
    <input #fileInput type="file" style="display: none" (change)="onFileChange($event)" />

    <button type="button" style="font-size: 13px; background-color: #133819; color: white" (click)="fileInput.click()"
      class="btn btn-success mx-2 my-0">
      <b>Excel Upload</b>
    </button>
    <button type="button" style="font-size: 13px; background-color: #133819; color: white"
      (click)="changeRoute('/ailab/parts/details')" class="btn btn-success mx-2 my-0">
      <b>Add</b>
    </button>
  </div>
  <div style="
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 4px;
    ">
    <div class="col layout-main-section-wrapper bg-light">
      <ejs-grid #grid [dataSource]="data2 | async" allowPaging="true" allowScrolling="true" [height]="gridHeight"
        [pageSettings]="pageSettings" [editSettings]="editSettings" [allowSorting]="true" allowFiltering="true"
        allowGrouping="true" (commandClick)="onCustomButtonClick($event)" (dataStateChange)="dataStateChange($event)">
        <e-columns>
          <e-column field="partName" headerText="Part Name" width="120"></e-column>
          <e-column field="partNumber" headerText="Part Number" width="140"></e-column>
          <e-column field="customernamevalue" headerText="Customer Name" width="120"></e-column>
          <e-column field="operationCodes" headerText="Process" width="300"></e-column>
          <e-column field="orderTypeName" headerText="Order Type" width="120"></e-column>
          <e-column headerText="Action" width="120" [commands]="commands"></e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>